        body {
            background-color: white;
        }
        .shop-logo {
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .shop-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        .padded-text {
            padding-bottom: 20px;
            padding: 5px;
        }
        .logo-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        .card {
            background-color: rgba(163, 209, 198, 0.25);
        }